<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/public/stylesheets/fontawesome.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/shop"><i class="fa-shopping-cart"></i> Shopping Cart</a>
                  </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  User Management
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#"><i class="fa-user"></i> User Account</a>
                  <!-- <a class="dropdown-item" href="#">Another action</a> -->
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Log Out</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="container">
        <div class="row">
            <div class="col col-sm-6 col-md-4">
                <img src="https://i5.walmartimages.com/asr/f3d6a125-28f8-4742-82fc-512955774007_1.5ecf8f78b664efc392e760babc07a59b.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF" class="img-thumbnail" alt="Cinque Terre"> 
                <p class="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia corporis aliquam iusto fugiat blanditiis delectus optio deserunt pariatur, unde ratione laborum debitis, aut et eveniet, accusantium facilis adipisci. Unde, totam.</p>
                <div>
                  <div class="price float-left">$12</div>
                  <button class="btn btn-success float-right">Add To Cart</button></div>
                
            </div>
            <div class="col col-sm-6 col-md-4">
                <img src="https://i5.walmartimages.com/asr/f3d6a125-28f8-4742-82fc-512955774007_1.5ecf8f78b664efc392e760babc07a59b.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF" class="img-thumbnail" alt="Cinque Terre"> 
                <p class="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia corporis aliquam iusto fugiat blanditiis delectus optio deserunt pariatur, unde ratione laborum debitis, aut et eveniet, accusantium facilis adipisci. Unde, totam.</p>
                <div>
                  <div class="price float-left">$12</div>
                  <button class="btn btn-success float-right">Add To Cart</button></div>
                
            </div>
            <div class="col col-sm-6 col-md-4">
                <img src="https://i5.walmartimages.com/asr/f3d6a125-28f8-4742-82fc-512955774007_1.5ecf8f78b664efc392e760babc07a59b.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF" class="img-thumbnail" alt="Cinque Terre"> 
                <p class="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia corporis aliquam iusto fugiat blanditiis delectus optio deserunt pariatur, unde ratione laborum debitis, aut et eveniet, accusantium facilis adipisci. Unde, totam.</p>
                <div>
                  <div class="price float-left">$12</div>
                  <button class="btn btn-success float-right">Add To Cart</button></div>
                
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col col-sm-6 col-md-4">
                <img src="https://i5.walmartimages.com/asr/f3d6a125-28f8-4742-82fc-512955774007_1.5ecf8f78b664efc392e760babc07a59b.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF" class="img-thumbnail" alt="Cinque Terre"> 
                <p class="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia corporis aliquam iusto fugiat blanditiis delectus optio deserunt pariatur, unde ratione laborum debitis, aut et eveniet, accusantium facilis adipisci. Unde, totam.</p>
                <div>
                  <div class="price float-left">$12</div>
                  <button class="btn btn-success float-right">Add To Cart</button></div>
                
            </div>
            <div class="col col-sm-6 col-md-4">
                <img src="https://i5.walmartimages.com/asr/f3d6a125-28f8-4742-82fc-512955774007_1.5ecf8f78b664efc392e760babc07a59b.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF" class="img-thumbnail" alt="Cinque Terre"> 
                <p class="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia corporis aliquam iusto fugiat blanditiis delectus optio deserunt pariatur, unde ratione laborum debitis, aut et eveniet, accusantium facilis adipisci. Unde, totam.</p>
                <div>
                  <div class="price float-left">$12</div>
                  <button class="btn btn-success float-right">Add To Cart</button></div>
                
            </div>
            <div class="col col-sm-6 col-md-4">
                <img src="https://i5.walmartimages.com/asr/f3d6a125-28f8-4742-82fc-512955774007_1.5ecf8f78b664efc392e760babc07a59b.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF" class="img-thumbnail" alt="Cinque Terre"> 
                <p class="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia corporis aliquam iusto fugiat blanditiis delectus optio deserunt pariatur, unde ratione laborum debitis, aut et eveniet, accusantium facilis adipisci. Unde, totam.</p>
                <div>
                  <div class="price float-left">$12</div>
                  <button class="btn btn-success float-right">Add To Cart</button></div>
                
            </div>
        </div>
    </div>
    
    <script
			  src="http://code.jquery.com/jquery-1.12.4.min.js"
			  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
